  body {
          padding: 0;
          margin: 0;
          font-family: sans-serif;
        }

        main{
           padding: 1rem;
        }
         .main-header {
            width: 100%;
            height: 3.5rem;
            background-color: darkgoldenrod;
            padding: 0 1.5rem;
         }

         .main-header_nav {
            height: 100%;
            display: flex;
            align-items: center;
         }
 
         .main-header_nav_list {
             list-style: none;
             margin: 0;
             padding: 0;
             display: flex;
         }

         .main-header_item {
             margin: 0 1rem;
             padding: 0;
         }

         .main-header_item a {
             text-decoration: none;
             color: white;
         }

         .main-header_item a:hover,
         .main-header_item a:active,
         .main-header_item a.active{
            color: blue;
         }

         .product-form {
            width: 20rem;
            max-width: 90%;
            margin: auto;
         }
          
         .form-control{
            margin: 1rem 0;
         }
         .form-control lable,
         .form-control input{
            display: block;
         }

         .form-control input{
              border: 1px solid chocolate;
              font: initial;
              border-radius: 2px;
         }

         button{
            font: inherit;
            color: coral;
            border: 1px solid coral;
            background: rgb(254, 242, 234);
            border-radius: 3px;
            cursor: pointer;
         }

         button:hover,
         button:active{
            background-color:whitesmoke;
         }