  body {
          padding: 0;
          margin: 0;
          font-family: sans-serif;
        }

        main{
           padding: 1rem;
        }
         .main-header {
            width: 100%;
            height: 3.5rem;
            background-color: darkgoldenrod;
            padding: 0 1.5rem;
         }

         .main-header_nav {
            height: 100%;
            display: flex;
            align-items: center;
         }
 
         .main-header_nav_list {
             list-style: none;
             margin: 0;
             padding: 0;
             display: flex;
         }

         .main-header_item {
             margin: 0 1rem;
             padding: 0;
         }

         .main-header_item a {
             text-decoration: none;
             color: white;
         }

         .main-header_item a:hover,
         .main-header_item a:active,
         .main-header_item a.active{
            color:currentColor;
         }

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  width: 500px;       /* fixed width */
  height: 100%;      /* fixed height */
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;   /* keeps content inside */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.card__header,
.card__content {
  padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__image {
  width: 350px;
  height: 100%;
  object-fit: cover;
}

.card__image img {
  width: 100%;
  display: flex;
  height: 100%;      /* fixed image height */
  object-fit: cover; 
}

.card__actions {
    padding: 1rem;
    text-align: center;
}

.card-body {
   flex: 1;
   padding: 16px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
 
.card__actions button,
.card__actions a {
    margin: 0 0.25rem;
}

.centered {
 text-align: center;
}

.btn {
  font: inherit;
  border: 1px solid #00695c;
  color: #00695c;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #00695c;
  color: white;
}