<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>

    <main>
        <form class="product-form" action="/admin/add-product" method="POST">
            <div class="form-control">
                <lable for="title">Title</lable>  
                <input type="text" name="title" id="title">
            </div>
            <button type="submit">Add Products</button>
        </form>
    </main>

<%- include('../includes/end.ejs') %>